body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creadit-card-component {
  max-width: 500px;
  min-width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  border-radius: 5px;
}

.btn.btn-primary {
  width: 100%;
}

/* credit card */
.credit-card-card {
  width: 350px;
  height: 200px;
  border-radius: 15px;
  background: linear-gradient(to left, #283593, #1976d2);
  color: white;
  padding: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  font-family: "Credit Card Front", sans-serif;
  position: relative;
}

.credit-card-card-logo {
  font-size: 18px;
  font-weight: bold;
}

.credit-card-card-logo img {
  height: 25px;
}

.credit-card-card-chip img {
  width: 42px;
}

.credit-card-card-number {
  font-size: 25px;
  letter-spacing: 3px;
}

.credit-card-card-expiry {
  text-align: right;
}

.credit-card-card-expiry span {
  display: block;
  font-size: 12px;
}

.credit-card-holder {
  font-size: 12px;
}

.credit-card-card-expiry .date {
  font-size: 16px;
}

@media (max-width: 576px) {
  .creadit-card-component {
    min-width: 300px;
    max-width: 100%;
    padding: 0rem;
  }
  .creadit-card-form form {
    width: 100%;
  }
  input.form-control {
    width: 100%;
  }
  /* .month .form-select {
    max-width: 70px;
  }
  .year .form-select {
    max-width: 90px;
  } */
  .form-group-cvv input {
    max-width: 80px;
  }
  .year {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .credit-card-card {
    width: 300px;
    height: 170px;
    padding: 14px;
  }
  .credit-card-card-logo {
    font-size: 16px;
  }
  .credit-card-card-logo img {
    height: 22px;
  }

  .credit-card-card-chip img {
    width: 35px;
  }

  .credit-card-card-number {
    font-size: 23px;
  }

  .credit-card-card-details {
    margin-top: 0.3rem;
  }

  .credit-card-holder {
    font-size: 11px;
    line-height: 1;
  }

  .credit-card-card-expiry .expires {
    font-size: 11px;
    line-height: 1;
  }

  .credit-card-card-expiry .date {
    font-size: 16px;
  }
}
